*.[oa]
*.l[oa]
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
*.tar.*
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
mkinstalldirs
*.pc
