aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
.libs
libtool
*.l[oa]
ltmain.sh
m4
Makefile
Makefile.in
missing
mkinstalldirs
*.[oa]
*.pc
*.tar.*
