[access]
	inheritFrom = Dev-ACL-Template
[project]
[access "refs/*"]
	read = group Freedesktop.org Mirror
	read = group GitHub Mirror
	read = group Gitorious Mirror
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/tags/*"]
	createSignedTag = group user/Caolán McNamara (caolan)
